


$mobile: "(max-width: 768px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
/* Small Screens */

@media #{$mobile}  {
  .mobile {
    visibility: hidden;
  }
  .tablet {
    visibility: visible;
  }

  .desktop {
    visibility: hidden;
  }
}

@media #{$tablet} {
    .mobile {
    visibility: hidden;
  }
  .tablet {
    visibility: visible;
  }

  .desktop {
    visibility: hidden;
  }
}

@media #{$desktop} {
  .mobile {
    visibility: hidden;
  }
  .tablet {
    visibility: hidden;
  }
  .desktop {
    visibility: visible;
  }
}